


<link rel="stylesheet" href="css/cssLogin.css">
<link rel="stylesheet" href="css/cssAlerts.css">
<!--Font Awesome-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
crossorigin="anonymous" referrerpolicy="no-referrer" />
{% if error %}
<div class="alert2">
<span class="closebtn2" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>Error! <div>Credenciales no válidas.</div> </strong>
</div>
{% endif %}

<div class="login-box">
<form action="{{ path('login') }}" method="post">
    
    <h1>Entrar</h1>
    <div class="text-box">
        <i class="fas fa-user"></i>
        <input type="text" id="username" name="_username" placeholder="Email del Usuario..." value="{{ last_username }}"/>
    </div>
    <div class="text-box">
        <i class="fas fa-unlock"></i>
        <input type="password" id="password" name="_password" placeholder="Contraseña..."/>
    </div>
    
    <label>
        <input type="checkbox" name="_remember_me" checked/>
        Recuerdame
    </label>
    <input type="hidden" name="_target_path" value="/cliente"/> 

    <button  class="btn" type="submit">Login</button>
</form>
     <a href="{{ path('app_register') }}"><button class="btn2" type="button">Registrarse</button></a>
    </div>