{# empty Twig template #}
{%include 'menu.html.twig' %}
<link rel="stylesheet" href="/css/style.css">

    <section class="form-register">
    <h2>Añadir Incidencia</h2>
    <br>  
    {{ form_start(form_post) }}
    {{ form_end(form_post) }}
    </section>