{# empty Twig template #}
{%include 'menu.html.twig' %}
<link rel="stylesheet" href="css/style.css">
<section class="form-register">
    <p><u><b>WEB DE INCIDENCIAS</u></b></p> 
    <br>
    <p>GESTIÓN DE INCIDENCIAS DE CLIENTES</P>
    <br>
    <br>
</section>